
{% block footer %}
<footer style="background: linear-gradient(135deg, #1d3557, #457b9d);" class="text-white pt-5 pb-4 mt-5">
    <div class="container">
        <div class="row text-center text-md-start align-items-center mb-4">
            <div class="col-md-4 mb-4 mb-md-0">
                <i class="fas fa-poll mb-3" style="color: #fefefe; font-size: 5.25em; line-height: 1.05em; vertical-align: -.075em;"></i>
                <p class="small">شریف‌لاین، سامانه‌ای هوشمند برای ساخت و تحلیل نظرسنجی‌ها با تجربه‌ای ساده و حرفه‌ای.</p>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <h5 class="fw-bold mb-3">لینک‌های مفید</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'about' %}" class="text-white text-decoration-none">درباره ما</a></li>
                    <li><a href="{% url 'contact' %}" class="text-white text-decoration-none">تماس با ما</a></li>
                    <li><a href="{% url 'faq' %}" class="text-white text-decoration-none">سوالات متداول</a></li>
                    <li><a href="{% url 'terms' %}" class="text-white text-decoration-none">شرایط استفاده</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="fw-bold mb-3">در تماس باشید</h5>
                <p class="mb-1"><i class="fas fa-envelope me-2"></i>info@sharifline.sharif</p>
                <p class="mb-3"><i class="fas fa-phone me-2"></i>000 000 0000</p>

                <div class="d-flex justify-content-center justify-content-md-start gap-3">
                    <a href="https://instagram.com" class="text-white fs-4" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com" class="text-white fs-4" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://linkedin.com" class="text-white fs-4" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>

                    <a href="https://t.me" class="text-white fs-4" target="_blank">
                        <i class="fab fa-telegram"></i>
                    </a>

                </div>
            </div>
        </div>

        <hr class="border-light opacity-25">

        <div class="text-center small">
            <p class="mb-0">© 2025 شریف‌لاین | طراحی شده با <i class="fa-solid fa-heart fa-flip-horizontal fa-sm" style="color: #e53f26;"></i>  در شریف</p>
        </div>
    </div>
</footer>
{% endblock %}
