{% extends 'base.html' %}

{% block title %}شرایط استفاده{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="display-4 fw-bold text-center text-primary mb-5">قوانین و مقررات</h1>

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <ul class="list-unstyled">
                <li class="mb-3">
                    <strong>حق استفاده:</strong> شما مجازید که از خدمات این سامانه تنها برای اهداف قانونی و غیر تجاری استفاده کنید.
                </li>
                <li class="mb-3">
                    <strong>حریم خصوصی:</strong> اطلاعات شما تنها برای انجام عملیات مربوط به نظرسنجی‌ها و تحلیل‌های آماری جمع‌آوری می‌شود.
                </li>
                <li class="mb-3">
                    <strong>محدودیت‌ها:</strong> شما موظفید که از سامانه برای فعالیت‌های غیر قانونی یا مخرب استفاده نکنید.
                </li>
                <li class="mb-3">
                    <strong>تغییرات در سرویس:</strong> ما حق تغییر یا به‌روزرسانی خدمات را بدون اطلاع قبلی برای خود محفوظ می‌داریم.
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
